.card-country{
    background-color: #fff;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    padding: 1.5em;
    text-align: left;
}
.img-box{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-box img{
    width: 100px;
}

.info-box{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
}
.info-box h4{
    text-align: center;
    margin-bottom: 0.5em;
}
.info-box span{
    font-weight: bold;
    margin-right: 0.3em;

}
