.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid var(--font-color);
}

.card-user{
  padding: 20px;
  margin: 30px;
  max-width: 400px;
  border:  2px solid var(--font-color);
  border-radius: 8px;

}
.card-header{
  display: flex;
  align-items: center;
  
}
.card-header h3{
  margin-left: 10px;
}
.card-header h3::after{
  content: "Carolina-Silva";
  font-size: small;
  opacity: 75%;
  margin-left: 10px;
}
.card-header img{
  border-radius: 50%;
}
.card-main{
  text-align: justify;
}
.card-main i {
  font-size: 25px;
  margin: 0 6px;
  color: var(--font-color);
}
.card-main i:hover{
  color: var(--link-color);
}
