*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --cor-destaque: #13a0ff;
  --cor-cancelar: #e43c3c;
  --cor-confirmar: #23a811;
  --cor-fonte: #2d2b31;
  --cor-fundo: #ffffff;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--cor-fonte);
}

.create-form{
  padding: 30px;
  border: 1px solid var(--cor-fonte);
  border-radius: 8px;

}